.accessibility {
  display: flex;
  /* justify-content: space-around; */
  margin: 3rem 0rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .accessibility {
     justify-content: center;
     /* align-items: center; */
  }
}

@media screen and (max-width: 480px) {
  .accessibility {
    flex-direction: column;
    
  }
}
